In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
police=pd.read_csv('/content/police_deaths_in_america.csv.zip')
police.head()

,Rank,Name,Cause_of_Death,Date,Year,Month,Day,Department,State,K9_Unit
0,Constable,Darius Quimby,Stabbed,"Monday, January 3, 1791",1791,January,Monday,"Albany County Constable's Office, NY",New York,0
1,Sheriff,Cornelius Hogeboom,Gunfire,"Saturday, October 22, 1791",1791,October,Saturday,"Columbia County Sheriff's Office, NY",New York,0
2,Deputy Sheriff,Isaac Smith,Gunfire,"Thursday, May 17, 1792",1792,May,Thursday,"Westchester County Sheriff's Department, NY",New York,0
3,Marshal,Robert Forsyth,Gunfire,"Saturday, January 11, 1794",1794,January,Saturday,United States Department of Justice - United S...,United States,0
4,Deputy Sheriff,Robert Berwick,Gunfire,"Thursday, June 29, 1797",1797,June,Thursday,"New York County Sheriff's Office, NY",New York,0

In [3]:
police.shape

(26269, 10)

In [4]:
police.isnull().sum()

Rank              0
Name              0
Cause_of_Death    0
Date              0
Year              0
Month             0
Day               0
Department        0
State             0
K9_Unit           0
dtype: int64

In [5]:
police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26269 entries, 0 to 26268
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            26269 non-null  object
 1   Name            26269 non-null  object
 2   Cause_of_Death  26269 non-null  object
 3   Date            26269 non-null  object
 4   Year            26269 non-null  int64
 5   Month           26269 non-null  object
 6   Day             26269 non-null  object
 7   Department      26269 non-null  object
 8   State           26269 non-null  object
 9   K9_Unit         26269 non-null  int64
dtypes: int64(2), object(8)
memory usage: 2.0+ MB

In [6]:
police.describe()

               Year       K9_Unit
count  26269.000000  26269.000000
mean    1955.712970      0.018387
std       41.248065      0.134348
min     1791.000000      0.000000
25%     1924.000000      0.000000
50%     1957.000000      0.000000
75%     1990.000000      0.000000
max     2022.000000      1.000000

In [7]:
police['Cause_of_Death'].value_counts()

Gunfire                     13105
Automobile crash             2567
Heart attack                 1216
Motorcycle crash             1167
Vehicular assault            1000
Struck by vehicle             986
COVID19                       771
Assault                       712
Gunfire (Inadvertent)         693
Vehicle pursuit               692
Stabbed                       507
Aircraft accident             401
9/11 related illness          352
Struck by train               324
Drowned                       293
Duty related illness          256
Fall                          238
Heatstroke                    105
Animal related                 94
Accidental                     94
Electrocuted                   88
Terrorist attack               85
Struck by streetcar            77
Fire                           74
Explosion                      66
Bomb                           61
Exposure to toxins             58
Training accident              38
Weather/Natural disaster       37
Train accident                 27
Structure collapse             23
Hypothermia                    19
Boating accident               16
Bicycle accident               14
Poisoned                        6
Unidentified                    4
Asphyxiation                    3
Name: Cause_of_Death, dtype: int64

In [8]:
police['Rank'].value_counts()

Patrolman                             3876
Police Officer                        3549
Deputy Sheriff                        3224
Officer                               1746
Sergeant                              1423
                                      ...
Guard Officer I                          1
Assistant Director                       1
Youth Officer                            1
Reserve Motor Deputy                     1
Senior Correctional Police Officer       1
Name: Rank, Length: 615, dtype: int64

In [9]:
police['State'].value_counts().unique()

array([2229, 1970, 1880, 1781, 1174, 1105,  976,  944,  900,  851,  729,
        723,  649,  635,  619,  560,  557,  553,  544,  484,  429,  409,
        398,  347,  344,  330,  326,  312,  303,  289,  272,  223,  219,
        193,  173,  158,  144,  136,  134,  128,  120,   96,   73,   63,
         59,   55,   53,   51,   48,   30,   14,    3])

In [10]:
police['State'].value_counts().nunique()

52

In [11]:
police['State'].value_counts()

Texas                       2229
United States               1970
New York                    1880
California                  1781
Illinois                    1174
Pennsylvania                1105
Florida                      976
Kentucky                     944
Ohio                         900
Georgia                      851
Tennessee                    729
Missouri                     723
Michigan                     649
North Carolina               635
Alabama                      619
Louisiana                    560
Virginia                     557
Oklahoma                     553
New Jersey                   544
Indiana                      484
South Carolina               429
Massachusetts                409
Puerto Rico                  398
Maryland                     347
Colorado                     344
Arkansas                     344
Mississippi                  330
Washington                   326
Arizona                      312
Wisconsin                    303
Kansas                       289
Minnesota                    272
West Virginia                223
Iowa                         219
Oregon                       193
New Mexico                   173
Connecticut                  158
Utah                         144
Nevada                       136
District of Columbia         134
Montana                      128
Nebraska                     120
Maine                         96
Idaho                         73
Wyoming                       63
North Dakota                  59
Hawaii                        59
South Dakota                  55
Rhode Island                  53
New Hampshire                 51
Alaska                        51
Delaware                      48
Vermont                       30
U.S. Virgin Islands           14
Guam                          14
Panama                         3
American Samoa                 3
Northern Mariana Islands       3
Name: State, dtype: int64

In [12]:
police.columns

Index(['Rank', 'Name', 'Cause_of_Death', 'Date', 'Year', 'Month', 'Day',
       'Department', 'State', 'K9_Unit'],
      dtype='object')

In [13]:
police['K9_Unit'].unique()

array([0, 1])

In [14]:
police['K9_Unit'].value_counts()

0    25786
1      483
Name: K9_Unit, dtype: int64

In [15]:
police['Month'].value_counts()

September    2436
August       2420
July         2412
December     2395
October      2210
January      2165
November     2139
May          2121
April        2076
June         2060
March        1937
February     1898
Name: Month, dtype: int64

In [16]:
police['Month'].nunique()

12

In [17]:
police['Day'].nunique()

7

In [18]:
police['Rank'].nunique()

615

In [19]:
police['Name'].nunique()

26044

In [20]:
police['Department'].nunique()

7307

In [21]:
police['Date'].nunique()

19218

In [22]:
police['Date']

0           Monday, January 3, 1791
1        Saturday, October 22, 1791
2            Thursday, May 17, 1792
3        Saturday, January 11, 1794
4           Thursday, June 29, 1797
                    ...
26264       Thursday, March 3, 2022
26265      Wednesday, March 9, 2022
26266        Sunday, April 10, 2022
26267        Monday, April 11, 2022
26268           Monday, May 2, 2022
Name: Date, Length: 26269, dtype: object

In [23]:
dummies=pd.get_dummies(police,columns=['State','Cause_of_Death','Month','Day'])
dummies.head()

,Rank,Name,Date,Year,Department,K9_Unit,State_Alabama,State_Alaska,State_American Samoa,State_Arizona,...,Month_November,Month_October,Month_September,Day_Friday,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday
0,Constable,Darius Quimby,"Monday, January 3, 1791",1791,"Albany County Constable's Office, NY",0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,Sheriff,Cornelius Hogeboom,"Saturday, October 22, 1791",1791,"Columbia County Sheriff's Office, NY",0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,Deputy Sheriff,Isaac Smith,"Thursday, May 17, 1792",1792,"Westchester County Sheriff's Department, NY",0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Marshal,Robert Forsyth,"Saturday, January 11, 1794",1794,United States Department of Justice - United S...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,Deputy Sheriff,Robert Berwick,"Thursday, June 29, 1797",1797,"New York County Sheriff's Office, NY",0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [24]:
dummies.shape

(26269, 120)

In [25]:
dummies=pd.get_dummies(police,columns=['State','Cause_of_Death','Month','Day'],drop_first=True)
dummies.head()

,Rank,Name,Date,Year,Department,K9_Unit,State_Alaska,State_American Samoa,State_Arizona,State_Arkansas,...,Month_May,Month_November,Month_October,Month_September,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday
0,Constable,Darius Quimby,"Monday, January 3, 1791",1791,"Albany County Constable's Office, NY",0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,Sheriff,Cornelius Hogeboom,"Saturday, October 22, 1791",1791,"Columbia County Sheriff's Office, NY",0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,Deputy Sheriff,Isaac Smith,"Thursday, May 17, 1792",1792,"Westchester County Sheriff's Department, NY",0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,Marshal,Robert Forsyth,"Saturday, January 11, 1794",1794,United States Department of Justice - United S...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,Deputy Sheriff,Robert Berwick,"Thursday, June 29, 1797",1797,"New York County Sheriff's Office, NY",0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [26]:
dummies.shape

(26269, 116)

Pandas  yaad nhi rkhta isliye is hme ek  backup me store krwana hoga ,jo hme change kiya h pandas ko encoding ,

In [27]:
backup=dummies.copy()

\

In [28]:
backup

,Rank,Name,Date,Year,Department,K9_Unit,State_Alaska,State_American Samoa,State_Arizona,State_Arkansas,...,Month_May,Month_November,Month_October,Month_September,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday
0,Constable,Darius Quimby,"Monday, January 3, 1791",1791,"Albany County Constable's Office, NY",0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,Sheriff,Cornelius Hogeboom,"Saturday, October 22, 1791",1791,"Columbia County Sheriff's Office, NY",0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2,Deputy Sheriff,Isaac Smith,"Thursday, May 17, 1792",1792,"Westchester County Sheriff's Department, NY",0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,Marshal,Robert Forsyth,"Saturday, January 11, 1794",1794,United States Department of Justice - United S...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,Deputy Sheriff,Robert Berwick,"Thursday, June 29, 1797",1797,"New York County Sheriff's Office, NY",0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26264,K9,Ciro,"Thursday, March 3, 2022",2022,"Humphreys County Sheriff's Office, TN",1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26265,K9,Dash,"Wednesday, March 9, 2022",2022,"Shepherdsville Police Department, KY",1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26266,K9,Major,"Sunday, April 10, 2022",2022,"Franklin County Sheriff's Office, NC",1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
26267,K9,Jinx,"Monday, April 11, 2022",2022,"El Paso County Sheriff's Office, CO",1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
26268,K9,Mina,"Monday, May 2, 2022",2022,United States Department of Homeland Security ...,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

One Hot encoding using sklearn 
for nominal data
Nominal data= jinke order nhi  hote 
for example  =  hmara dataset jo police ka h usme name ,State,Cause _of_death ye columns nominal data h. or bhi h date ,day,

sparse atttribute h wo toarray function ko show nhi krege jse mene one hot encoder me sparese=false krdiya toh wo toarrray show nhi kregaa

dtype conversion krna h toh jo float ki value aa rhi h one hot encoder me  wo integer me change ho jaige

In [29]:
from sklearn.model_selection import  train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(police.iloc[:,0:9],police.iloc[:,-1],test_size=0.2,random_state=2)

In [30]:
X_train.head()

,Rank,Name,Cause_of_Death,Date,Year,Month,Day,Department,State
14061,Chief of Police,James M. Mumford,Gunfire,"Friday, November 15, 1963",1963,November,Friday,"Elgin Police Department, TX",Texas
1887,Patrolman,Albert Meisner,Struck by train,"Wednesday, September 30, 1896",1896,September,Wednesday,"Dubuque Police Department, IA",Iowa
4230,Special Agent,Thomas Morrison,Gunfire,"Sunday, May 30, 1915",1915,May,Sunday,"Chicago, Milwaukee, St. Paul and Pacific Railr...",United States
15080,Corrections Officer,George Paszkowski,Gunfire,"Friday, August 8, 1969",1969,August,Friday,"New Jersey Department of Corrections, NJ",New Jersey
19948,Police Officer,Joseph T. Alcamo,Automobile crash,"Thursday, March 26, 1992",1992,March,Thursday,"New York City Police Department, NY",New York

In [31]:
Y_train.head()

14061    0
1887     0
4230     0
15080    0
19948    0
Name: K9_Unit, dtype: int64

In [32]:
from sklearn. preprocessing import OneHotEncoder

In [33]:
ohe=OneHotEncoder(drop='first',dtype=np.int32)

In [34]:
ohe

OneHotEncoder(drop='first', dtype=<class 'numpy.int32'>)

In [35]:
ohe.fit_transform(X_train[['Cause_of_Death','State','Month','Day']])

<21015x110 sparse matrix of type '<class 'numpy.int32'>'
	with 78563 stored elements in Compressed Sparse Row format>

In [36]:
X_train_new=ohe.fit_transform(X_train[['Cause_of_Death','State','Day','Month','State']]).toarray()

In [37]:
X_train_new.shape

(21015, 167)

In [38]:
X_test_new=ohe.transform(X_test[['Cause_of_Death','State','Day','Month','State']]).toarray()

In [39]:
X_test_new

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int32)

In [40]:
np.hstack((X_train[['Rank','Name']].values,X_train_new)).shape

(21015, 169)

In [41]:
counts=police['Rank'].value_counts()

In [42]:
counts

Patrolman                             3876
Police Officer                        3549
Deputy Sheriff                        3224
Officer                               1746
Sergeant                              1423
                                      ...
Guard Officer I                          1
Assistant Director                       1
Youth Officer                            1
Reserve Motor Deputy                     1
Senior Correctional Police Officer       1
Name: Rank, Length: 615, dtype: int64

In [43]:
police['Rank'].nunique()
threshold=800

In [44]:
repl=counts[counts<=threshold].index

In [45]:
repl.nunique()

608

In [46]:
help=pd.get_dummies(police['Rank'].replace(repl,'uncommon'))

In [47]:
help

,Deputy Sheriff,Detective,Officer,Patrolman,Police Officer,Sergeant,Trooper,uncommon
0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
26264,0,0,0,0,0,0,0,1
26265,0,0,0,0,0,0,0,1
26266,0,0,0,0,0,0,0,1
26267,0,0,0,0,0,0,0,1
26268,0,0,0,0,0,0,0,1

In [48]:
help.describe()

,Deputy Sheriff,Detective,Officer,Patrolman,Police Officer,Sergeant,Trooper,uncommon
count,26269.000000,26269.000000,26269.000000,26269.00000,26269.000000,26269.000000,26269.000000,26269.000000
mean,0.122730,0.032776,0.066466,0.14755,0.135102,0.054170,0.032624,0.408580
std,0.328134,0.178054,0.249100,0.35466,0.341839,0.226358,0.177654,0.491581
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000

In [49]:
police['Rank'].unique()

array(['Constable', 'Sheriff', 'Deputy Sheriff', 'Marshal',
       'Superintendent', 'High Sheriff', 'Watchman', 'Night Watchman',
       'Boatman', 'Custom House Officer', 'Customs Inspector', 'Keeper',
       'Watch Officer', 'Town Sergeant', 'Guard', 'Private',
       'Second Lieutenant', 'Deputy U.S. Marshal', 'Captain',
       'First Sergeant', 'Town Marshal', 'Prison Guard', 'Warden',
       'Undersheriff', 'Lieutenant', 'Patrolman', 'Major',
       'Police Officer', 'Sergeant', 'Deputy Constable', 'Shadow',
       'Officer', 'Policeman', 'Indian Agent', 'City Marshal',
       'Deputy Warden', 'Deputized Civilian', 'Assistant City Marshal',
       'Special Patrolman', 'Special Police Officer', 'Jailer',
       'Patrol Officer', 'Deputy', 'Deputy City Marshal', 'Inspector',
       'Deputy Collector', 'Special Agent', 'Deputy Marshal',
       'Deputy Provost Marshal', 'Assistant Provost Marshal',
       'Chief of Police', 'Township Constable', 'Posseman',
       'Police Deputy', 'Special Constable', 'Special Officer',
       'Special Deputy Constable', 'Gauger', 'Detective', 'Posse Member',
       'Special Deputy Marshal', 'Special Policeman', 'Custody Officer',
       'Substitute Patrolman', 'Deputy Keeper', 'Town Constable',
       'Roundsman', 'Substitute Officer', 'Special Deputy Sheriff',
       'Fourth Sergeant', 'Third Sergeant', 'K9', 'Village Marshal',
       'Principal Keeper', 'Chief Marshal', 'Night Policeman',
       'Assistant Marshal', 'High Constable', 'Lighthorseman',
       'Special Deputy', 'Turnkey', 'Chief', 'Patrol Wagon Driver',
       'Deputy Sheriff Jailer', 'Game Warden', 'Deputy Jailer',
       'Chief Constable', 'Acting Deputy Sheriff', 'Park Policeman',
       'Correction Officer', 'Assistant Chief of Police',
       'Storekeeper-Gauger', 'Special Deputy  Marshal',
       'Mounted Policeman', 'Overseer', 'Field Inspector', 'Corporal',
       'Revenue Agent', 'Justice of the Peace', 'Railroad Policeman',
       'Merchant Policeman', 'Chief of Detectives',
       'Dispensary Constable', 'Court Officer', 'Night Officer',
       'Night Marshal', 'Reform School Officer', 'Deputy Sergeant',
       'Centre Keeper', 'Chief Deputy Constable', 'Doorman',
       'Immigration Inspector', 'Health Officer',
       'Special Game Protector', 'Assistant Superintendent',
       'Assistant Chief', 'Chief Deputy Sheriff', 'Railroad Detective',
       'Night Captain', 'Desk Sergeant', 'Chief Deputy',
       'Night Patrolman', 'Commissioner', 'Ranger',
       'Correctional Officer', 'Deputy Game Warden', 'Station Keeper',
       'Clerk', 'Bailiff', 'Detective Sergeant', 'Operative',
       'Chief Special Agent', 'Acting Policeman', 'Sub-Patrolman',
       'Acting Night Marshal', 'Deputy Town Marshal',
       'Probationary Police Officer', 'Wagonman', 'Acting Constable',
       'Rural Police Officer', 'Police Surgeon', 'Sanitary Officer',
       'Patrol Driver', 'Game Officer', 'Corrections Employee',
       'Deputy Game Protector', 'Deputy Chief Marshal', 'Night Chief',
       'Police Captain', 'Matron', 'Mounted Patrolman', 'Stock Constable',
       'Postal Inspector', 'Reserve Officer', 'Reserve Sergeant',
       'Deputy Dispensary Constable', 'Patrol Special Police Officer',
       'Crossing Policeman', 'Reserve Police Officer',
       'Deputy Chief of Police', 'Assistant Jailer', 'Deputy Chief',
       'Park Ranger', 'Acting Chief of Police', 'Probation Officer',
       'Probationary Patrolman', 'Police Chief', 'Senior Patrolman',
       'Probationary Officer', 'Coroner', 'Game Protector',
       'County Ranger', 'Detective Patrolman', 'Detective Lieutenant',
       'Motorcycle Officer', 'Customs Agent', 'Extra Policeman',
       'Special Watchman', 'Police', 'Mounted Inspector',
       'Deputy Night Watchman', 'Acting Sheriff', 'Detention Officer',
       'Traffic Officer', 'Motorcycle Policeman',
       'Assistant Special Agent', 'Deputy Tax Collector', 'Forest Ranger',
       'Acting Chief', 'Military Police Officer', 'Private First Class',
       'Detention Deputy', 'District Collector', 'Plainclothesman',
       'Mounted Guard', 'Quarantine Guard', 'State Constable',
       'Home Defense Officer', 'Chief Game Protector',
       'Field Superintendent', 'Prohibition Officer', 'County Policeman',
       'Postal Inspector in Charge', 'Agent', 'Merchant Patrolman',
       'Federal Prohibition Agent', 'Day Warden', 'Warehouse Agent',
       'Trooper', 'Narcotics Inspector', 'Acting Sergeant',
       'Assistant Warden', 'Fish Warden', 'Park Guard',
       'Acting Lieutenant', 'U.S. Game Warden', 'Night Watch Officer',
       'Colorado Ranger', 'Deputy Commissioner',
       'Assistant County Detective', 'Conservation Warden',
       'Parole Officer', 'Deputy Prohibition Officer',
       'Supervising Game Warden', 'Chief Sergeant', 'Acting Detective',
       'Patrol Inspector', 'Narcotics Agent', 'Coast Guardsman',
       'Special Deputy Officer', 'County Patrolman', 'Motorcycle Deputy',
       'Acting Marshal', 'Night Police Chief', 'Chief Probation Officer',
       'Police Clerk', 'Chief Investigator', 'Conservation Officer',
       'Crossing Patrolman', 'Deputy State Sheriff', 'County Game Warden',
       'Night Supervisor', 'Special Ranger', 'Dog Sergeant',
       'Assistant Probation Officer', 'Assistant Fire Marshal',
       'Senior Patrol Inspector', 'Border Patrolman',
       'Assistant Principal Keeper', 'Deputized Constable', 'Policewoman',
       'Motor', 'Chief Park Ranger', 'Motorcycle Patrolman',
       'Corrections Officer', 'Customs Patrolman', 'Customs Officer',
       'Highway Patrolman', 'Traffic Policeman', 'Cattle Inspector',
       'Mayor', 'City Warden', 'Special Investigator',
       'Officer First Class', 'Deputy Chief Inspector',
       'Auxiliary Officer', 'Relief Officer', 'Trustee Guard',
       'Cadet Policeman', 'Investigator', 'Seasonal Park Ranger',
       'U.S. Game Agent', 'Park Police Officer', 'Warden Supervisor',
       'Prison', 'Quartermaster Sergeant', 'Colonel',
       'Conservator of the Peace', 'Special Guard', 'Field Agent',
       'Assistant Inspector', 'Chief Engineer', 'Chief Inspector',
       'Kitchen Keeper', 'U.S. Customs Inspector', 'Deputy Supervisor',
       'Officer Marshall', 'Border Patrol Inspector',
       'Auxiliary Police Officer', 'Supernumerary', 'Camp Superintendent',
       'Refuge Officer', 'Motor Officer', 'Trooper First Class',
       'Police Investigator', 'Autogiro Pilot', 'Reserve Policeman',
       'Magistrate', 'Steward', 'Wildlife Officer', 'Detective Captain',
       'Security Officer', 'Juvenile Probation Officer', 'Wildlife Agent',
       'Federal Agent', 'Staff Sergeant', 'Special Town Marshal', 'Pilot',
       'District Supervisor', 'Transport Officer', 'Technical Sergeant',
       'Sergeant Major', 'Assistant Chief Ranger', 'District Game Warden',
       'Beverage Enforcement Agent', 'Game Warden Pilot',
       'Enforcement Officer', 'Peace Officer', 'Reserve Deputy Sheriff',
       'Deputy High Constable', 'Reserve Deputy', 'District Ranger',
       'Investigative', 'Auxiliary Sergeant', 'Reserve Captain',
       'Jail Master', 'Polygraph', 'Lieutenant Deputy', 'Dispatcher',
       'Deputy Inspector', 'Security Policeman', 'Assistant Sergeant',
       'Squadman', 'State Fire Marshal', 'Juvenile Officer',
       'Auxiliary Captain', 'Marine Posse Deputy', 'Auxiliary Policeman',
       'Police Officer I', 'Marine Patrolman', 'Petty Officer',
       'Corrections Captain', 'Master Sergeant', 'Criminal Investigator',
       'Patrol Sergeant', 'Police Agent', 'Reserve Motor Deputy',
       'Youth Officer', 'Assistant Director', 'Reserve Lieutenant',
       'Guard Officer I', 'Supervisory Special Agent',
       'Lieutenant Colonel', 'Auxiliary Trooper', 'Supervisor',
       'Corrections Sergeant', 'Game Technician', 'Sergeant Investigator',
       'District', 'Correctional Lieutenant', 'Inspector I', 'Cadet',
       'Deputy Superintendent', 'Special Agent Pilot', 'Chief Jailer',
       'Senior Patrol Agent', 'Land Management Officer',
       'State Park Ranger II', 'Field Supervisor', 'Patrol Agent',
       'Patrol Deputy', 'Border Patrol Agent', 'Lake Ranger', 'Commander',
       'Patrolman First Class', 'Control Officer', 'Jailer Dispatcher',
       'Pilot Officer', 'Liquor Inspector',
       'Supervisory Detention Officer', 'Helicopter Pilot',
       'Police Guard', 'Chaplain', 'State Park Ranger I',
       'Lance Corporal', 'Assistant Chief Investigator',
       'Narcotics Officer', 'First Lieutenant', 'Auxiliary Lieutenant',
       'House', 'State Park Ranger', 'Detective Corporal',
       'Zone Sergeant', 'Senior Corrections Officer',
       'Police Officer III', 'Auxiliary Deputy', 'Wildlife Technician',
       'Wildlife Manager', 'Vice Commander', 'Patrolwoman',
       'Deputy Sheriff I', 'Police Supervisor', 'Senior',
       'Regional Administrator', 'Probation Supervisor',
       'Criminal Warrant Officer', 'Deputy Director', 'Officer / Pilot',
       'Officer / Paramedic', 'Parole Agent', 'Police Officer II',
       'Enforcement Agent', 'Public Safety Officer', 'Police Specialist',
       'Detention Guard', 'Special Agent in Charge',
       'Police Service Technician', 'Master Patrolman',
       'Chief of Narcotics', 'Airman First Class', 'Reserve Deputy Chief',
       'Village Public Safety Officer', 'Narcotics Investigator',
       'Surveillance Officer', 'Senior Deputy', 'Patrol Specialist',
       'Group Supervisor', 'Senior Court Clerk',
       'Assistant District Attorney', 'Assistant Deputy',
       'Corrections Director', 'Trooper Pilot',
       'Air Operations Supervisor', 'Probation Unit Supervisor',
       'Evidence Technician', 'Assistant to the Deputy Warden',
       'Probation and Parole Agent', 'Senior Officer Specialist',
       'Senior Corporal', 'Trooper I', 'Juvenile Detention Officer',
       'Agent II', 'Assistant SAC', 'Senior Officer', 'Master Trooper',
       'Trooper II', 'Master Officer', 'Youth Development',
       'Senior Trooper', 'Trooper III', 'Senior Police Officer',
       'ALE Agent I', 'Narcotic Agent II', 'Senior Special Agent',
       'Chief Deputy Fire Marshal', 'Supervisory Border Patrol Agent',
       'Deputy II', 'Jail Officer', 'Police Reserve',
       'Senior Patrol Officer', 'Senior Agent', 'Investigator II',
       'Correctional Instructor', 'Deputy Marshal II',
       'Correctional Case Manager', 'Youth Counselor', 'Field Deputy',
       'Correction Counselor', 'Master Patrol Officer',
       'Master Detective', 'Senior Border Patrol Agent',
       'Correctional Officer I', 'Deputy Marshal III',
       'Abatement Officer', 'Harbor Patrol Officer', "Sheriff's Sergeant",
       'Corrections Officer I', 'Aviation Supervisor',
       'Lead Corrections Officer', 'Flight Officer', 'Master Deputy',
       'Master Police Officer', 'Corrections Officer III',
       'Sergeant First Class', 'Patrolman II',
       'Detention Enforcement Officer', 'School Safety Agent',
       'Corrections Officer II', 'Park Ranger V', 'Jail Supervisor',
       'Senior Customs Inspector', 'Sheriff-elect', 'Patrolman III',
       'Seaman', 'District Wildlife Manager', 'Fire Marshal',
       'Assistant Deputy Commissioner', 'Bureau Chief',
       'Senior Court Officer', 'Director of Public Safety',
       'Master Special Officer', 'Refuge Manager',
       'Master Police Officer III', 'Juvenile Corrections Officer',
       'Marine Deputy', 'Code Enforcement Officer', 'Senior Terrestrial',
       'Correctional Sergeant', 'Chief of Safety', 'Detective I',
       'Resource Protection Officer', 'Bay Constable',
       'Reserve Deputy Constable', 'Senior Investigator',
       'Special Agent Supervisor', 'Assistant Chief Deputy',
       'Deputy First Class', 'Senior Criminal Investigator',
       'Staff Chief', 'Air Interdiction Agent',
       'Probation / Parole Officer ll', 'ATSAIC',
       'Deputy Probation Officer', 'Ordinance Officer',
       'Patrol Detective', 'Detention Sergeant', 'Senior Parole Agent',
       'Natural Resources Officer', 'Juvenile Security Officer',
       'Wildlife Conservation Officer', 'District Administrator',
       'Corrections Officer IV', 'Police Officer Specialist',
       'Master Public Safety Officer', 'Director of Field',
       'Master Corporal', 'Probation / Parole Officer',
       'Sergeant Inspector', 'Police Recruit',
       'Senior Chief Petty Officer', 'Executive Director', 'Coordinator',
       'Master Deputy Sheriff', 'Correctional Deputy', 'Master-at-Arms',
       'Technical Trooper', 'Bridge and Tunnel Officer', 'Harbor Patrol',
       'Corrections Officer V', 'Director of Investigations',
       'K9 Officer', 'Deportation Officer', 'Security Supervisor',
       'Assistant Commander', 'Deputy Commander', 'Lieutenant Pilot',
       'Correction Enterprises Manager', 'Deputy Chief Fire Marshal',
       'Deputy Inspector General', 'Collection Operations Manager',
       'Agent Cadet', 'Federal Air Marshal',
       'Supervisory Deputy US Marshal', 'Community Supervision Officer',
       'Deputy Sheriff II', 'Correctional Administrator',
       'Interim Police Chief', 'Officer Trainee',
       'Senior Detention Officer', 'Corrections Supervisor 1',
       'Animal Control Officer ', 'Chief of Transportation',
       'Master Detention Deputy', 'Parole Officer IV', 'Director',
       'Senior Federal Air Marshal', 'Master Jail Officer',
       'Correctional Officer II', 'Correctional Sergeant II',
       'Correctional Officer III', 'Deputy Probation Officer II',
       'Correctional Sergeant III', 'Corrections Investigator',
       'Unit Team Supervisor', 'Security Control Specialist',
       'Associate Warden III', 'Parole Officer I',
       'Corrections Deputy II', 'Court', 'Warrants Officer',
       'Correctional Lieutenant III', 'Senior Master Trooper',
       'Corrections Deputy', 'Lead Special Officer',
       'Detention Services Officer', 'Home Confinement Officer',
       'Section Chief', 'Forensic Specialist II',
       'Criminal Investigator 2 ', 'Senior Sergeant',
       'Correctional Officer Trainee', 'Laundry Manager III',
       'Parole Officer II', 'Probation / Parole Officer II',
       'Correctional Corporal', 'Corrections Lieutenant',
       'Senior Inspector', 'Correctional Officer IV',
       'Correctional Lieutenant II', 'Command Sergeant',
       'School Resource Officer', 'Transfer Officer',
       'Correctional Officer V', 'Supervisory Police Officer',
       'Senior Correctional Police Officer'], dtype=object)

ValueError: ignored